<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />

    <link rel="stylesheet" href="../public/css/style.css">
    
    <title>Hola Mundo desde Electron!</title>
    <script defer src="../renderer.js"></script>
  </head>
  <body>
    <h1>Hola Mundo desde Electron!</h1>
    <p>👋</p>
    <button>Haz click aquí</button>
    <span id="count">0</span>
  </body>
</html>